.footer {
  padding: 2rem 6rem;
  background: #000;
  color: #fff;
}
.top {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
}
.top i {
  color: #fff;
  font-size: 2rem;
  margin-left: 1rem;
}
.top i:hover {
  color: #01959a;
}
.bottom {
  padding-top: 2rem;
  text-align: start;
  display: flex;
  justify-content: space-between;

  /* justify-content: left; */
  gap: 50px;
}
.contact-info {
  display: flex;
  flex-direction: column;
}
h1 {
    font-size: 1.5rem;
}
.bottom h4 {
  font-size: 1.3rem;
  padding: 1rem 0 0.8rem 0;
}
.bottom a,
.bottom p {
  text-decoration: none;
  color: #fafafa;
  padding-bottom: 0.4rem;
  font-size: 1.1rem;
}
.bottom a {
  color: #a2e2fc;
}
.unterschrift {
  color: rgb(98, 106, 98);
  margin-top: 20px;
  padding-bottom: 0px;
}
.row-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
@media screen and (max-width: 850px) {
  .footer {
    padding: 4rem 2rem;
  }
  .footer i {
    margin: 1rem 1rem 0 0;
  }
  .bottom div {
    width: 50%;
  }
  .row-links {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  h1 {
    font-size: 1.5rem;
  }
}
